<ul class="layout-menu m-0 p-0 list-none">
    @for (navitems of menuitems; track $index) {
        <a 
            class="no-underline" routerLinkActive="text-primary font-bold" 
            [routerLink]="navitems.routerLink"> <li class="cursor-pointer">
            {{navitems.label}}</li>
        </a>
        @if (navitems.items) {
            @for (item of navitems.items; track $index) {
                <a 
                    class="no-underline" routerLinkActive="text-primary font-bold"
                    [routerLink]="item.routerLink">
                    <li class="cursor-pointer p-2 mt-2 hover:surface-300">
                    <fa-icon class="mr-2" [icon]="item.icon"></fa-icon> {{item.label}}</li>
                </a>
                
            }
        }
    }
</ul>
