<section class="dashboard">
    <!-- <div class="grid">
        <div class="col-12 md:col-6 lg:col-12 h-26rem p-0 m-0">
            <h1 class="mx-6 text-base"><p-tag class="mx-2"  value="New"/>Release</h1>
            <p-carousel 
    [value]="images" 
    [numVisible]="1" 
    [numScroll]="1" 
    [circular]="true" 
    [responsiveOptions]="responsiveOptions" 
    
    >
        <ng-template let-product pTemplate="item">
            <div class="p-0">
                <div class="mb-6">
                    <div class="h-full">
                        <img 
                            src="{{ product.image }}" 
                            [alt]="product.caption" 
                            class="w-full h-30rem border-round" />
                    </div>
                </div>
            </div>
        </ng-template>
</p-carousel>
        </div>
    </div> -->
</section>
 

    <section class="movies">
        <app-marvel></app-marvel>
        <app-action-scifi></app-action-scifi>
        <app-thriller></app-thriller>
        <app-disney-pixar></app-disney-pixar>
    </section>

    