<section class="Action-scifi">
    <h2 class="capitalize">disney-pixar</h2>
    <p class="m-0 text-right text-primary"><a class="mx-1 text-primary" [routerLink]="''">see more</a> <fa-icon
        class="mr-2"
        [icon]="faDoubleRight">
        </fa-icon></p>
    <div class="grid">
        @for (movie of disneyPixar; track $index) {
            <div class="col-12 md:col-6 lg:col-2 cursor-pointer m-3">
                <div class="movies-card text-center border-round-sm border-1 border-primary font-bold  h-15rem">
                <img class="w-full h-full" src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <p class="text-sm capitalize">{{movie.title}}</p>
                </div>
        }
    </div>

</section>