<section class="Action-scifi">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="border-round-sm font-bold">
                <p-iconField  iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input [(ngModel)]="searchMovies" type="text" pInputText placeholder="Search" style="width: 500px;" (ngModelChange)="filterMovies(searchMovies)" />
                    </p-iconField>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="text-center  border-round-sm font-bold">
                <p-dropdown 
                (onChange)="filterbyYear()"
    [options]="year" 
    [(ngModel)]="selectedYear" 
    optionLabel="year" 
    placeholder="filter by year" />
            </div>
        </div>
        @if (filter) {
            <div class="col-12 md:col-6 lg:col-3">
                <p-button (click)="clear()" label="Clear Filter" [text]="true" severity="success" />
            </div>
        }
        
    </div>
        <div class="grid mt-5">
        @if (filteredMovies.length === 0) {
                <h2>No movies found !</h2>
        }
        @for (movie of filteredMovies; track $index) {
            <div (click)="sendMovie(movie)" [routerLink]="'movies-details'" class="col-12 md:col-6 lg:col-2 cursor-pointer m-3">
                <div class="movies-card text-center border-round-sm border-1 border-primary font-bold  h-15rem">
                <img class="w-full h-full" src="{{movie.poster}}" alt="{{movie.title}}">
                </div>
                <p class="text-sm capitalize">{{movie.title}}</p>
                </div>
        }
    </div>
</section>